name: Documentation

on:
  push:
    branches: [ master ]

jobs:
  dokka:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Merge changes
        run: |
          git config --local user.email "20161450+scsole@users.noreply.github.com"
          git config --local user.name "Sebastian Sole"
          git checkout gh-pages
          git rebase master
          #      - name: Run dokka
          #        run: |
          #          rm -rf docs
          #          ./gradlew dokka
          #      - name: Commit files
          #        run: |
          #      - name: Update GitHub Pages
          #        run: |
          #          git add -f docs
          #          git diff-index --quiet HEAD || git commit -m "Automatically update docs"
          #          git push -f origin master:gh-pages
