name: Documentation Wiki

on:
  push:
    branches: [ wiki ]
  
jobs:
  dokka-wiki:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - run: mkdir app/build/dokka/app
    - run: mkdir -p app/build/dokka/app
    - name: Publish to GitHub Wiki
      uses: JoeIzzard/ghaction-wiki-sync@v1
      with:
        username: scsole
        access_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
        wiki_folder: app/build/dokka/app
        commit_username: Sebastian Sole
        commit_email: 20161450+scsole@users.noreply.github.com
        commit_message: Automatically publish wiki
#     - name: Publish to GitHub Wiki
#       uses: SwiftDocOrg/github-wiki-publish-action@1.0.0
#       with:
#         path: app/build/dokka/app
#       env:
#         GITHUB_PERSONAL_ACCESS_TOKEN : ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
