name: Documentation Wiki

on:
  push:
    branches: [ wiki ]
  
jobs:
  dokka-wiki:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Run dokka
      run: ./gradlew dokka
    - name: Publish to GitHub Wiki
      uses: SwiftDocOrg/github-wiki-publish-action@1.0.0
      with:
        path: app/build/dokka/app
      env:
        GITHUB_PERSONAL_ACCESS_TOKEN : ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
