name: Documentation

on:
  push:
    branches: [ master ]

jobs:
  dokka:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: gh-pages
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Merge changes
        run: |
          git config --local user.email "20161450+scsole@users.noreply.github.com"
          git config --local user.name "Sebastian Sole"
          git fetch origin master
          git merge origin/master
      - name: Run dokka
        run: |
          rm -rf docs
          ./gradlew dokka
      - name: Commit changes
        run: |
          git add -f docs
          git diff-index --quiet HEAD || git commit -m "Automatically update docs"
      - name: Push to GitHub Pages
        run: git push 


  dokka-master:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
          git fetch origin master
          git merge origin/master
      - name: Run dokka
        run: |
          rm -rf docs
          ./gradlew dokka
      - name: Commit changes
        run: |
          git config --local user.email "20161450+scsole@users.noreply.github.com"
          git config --local user.name "Sebastian Sole"
          git add -f docs
          git diff-index --quiet HEAD || git commit -m "Automatically update docs"
      - name: Push to GitHub Pages
        run: git push 
